<article class='post'>
	<div class='container'>
		<div class='row'>
			<div class='title card-header'>
				{{title}}
				<a href='{{post_body}}' target='_blank'></a>

			</div>
			<div class='meta card-body'>
				{{format_plural 'point' vote_count}}
				by
				{{user.username}}
				on
				{{format_date created_at}}
				|
				<a href='/post/{{id}}'>{{comments.length}}
					{{format_plural 'comment' comments.length}}</a>
			</div>
		</div>
	</div>
	<div class='text-blk'>{{post-body}}</div>
</article>